<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ biography.hero.full_name }}</title>
  <meta name="description" content="Geryl Pelayo's Portfolio and Resume Website."/>
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.ico' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
      <div class="profile">
        <h1 class="text-light nav-name"><a href="index.html">{{ hero.full_name }}</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-happy"></i> <span>About Me</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-brain"></i> <span>Skills</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center main-section">
    <div class="hero-container" data-aos="fade-in">
      <h1>{{ hero.full_name }}</h1>
      <p><span>{{ subtitles }}</span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
              <img src="{% static "img/portrait.jpg" %}" class="img-fluid">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <p class="fst-italic">
                {{ biography.summary }}
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume main-section section-bg">
      <div class="container">
        <div class="section-title">
        <h2>Resume</h2>
        <div class="row">
          <div data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            {% for resume_item in resume %}
              <div class="resume-item">
                <h4>{{ resume_item.name }}</h4>
                <h5>{{ resume_item.years }}</h5>
                <p><em>{{ resume_item.position }}<br/>{{ resume_item.location }}</em></p><br/>
                <p>{{ resume_item.description }}</p>
                <br/>
                <ul>
                {% for job_item in resume_item.job_items %}
                  <li>{{ job_item.description }}</li>
                {% endfor %}
                </ul>
              </div>
            {% endfor %}
            <h3 class="resume-title">Education</h3>
            {% for education_item in education %}
              <div class="resume-item">
                <h4>{{ education_item.name }}</h4>
                <h5>{{ education_item.graduation_year }}</h5>
                <p>{{ education_item.degree }}<em><br/>{{ education_item.city }}, {{ education_item.country }}</em></p><br/>
                <br/>
              </div>
            {% endfor %}
          </div>
        </div>
        </div>
      </div>
    </section>
      <!-- End Resume Section -->

      <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg main-section">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>
        <div class="row skills-content">
          <div class="col-lg-6" data-aos="fade-up">
            {% for skill in left_skills %}
              <div class="progress">
                <span class="skill">{{ skill.name }}<i class="val">{{ skill.years }} Year{% if skill.years != 1 %}s{% endif %}</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            {% for skill in right_skills %}
              <div class="progress">
                <span class="skill">{{ skill.name }}<i class="val">{{ skill.years }} Year{% if skill.years != 1 %}s{% endif %}</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            {% endfor %}
          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
        <div class="social-links text-center">
            {% for contact in contact_info %}
                <a href="{{ contact.contact_link }}" class=""><i class="{{ contact.boxicon_class }}"></i></a>
            {% endfor %}
        </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>